<% provide(:title, "Home") %>

<div class="container">
    <div class="home-content">
        <section class="home-banner">
            <div class="top-new">
                <div class="home-slide"></div>
                <div class="hot-new"></div>
            </div>
            <ul class="lazy">
                <li><a href="#">Giao hang toan quoc</a></li>
                <li><a href="#">Mua hang tu xa</a></li>
                <li><a href="#">Doi tra hang trong 15 ngay</a></li>
                <li><a href="#">Thanh toan linh hoat</a></li>
                <li><a href="#">Ho tro suot thoi gian su dung</a></li>
            </ul>
        </section>
        <section class="content products good-price">
            <h2>SAN PHAM APPLE GIA TOT</h2>
        </section>
        <section class="content products hightlight">
            <h2>MICROSOFT SURFACE NOI BAT</h2>
        </section>
        <section class="content products hot">
            <h2>LAPTOP BAN CHAY</h2>
        </section>
        <section class="content accessories">
            <h2>PHU KIEN HOT - GIA TOT</h2>
        </section>
    </div>
</div>