<% provide(:title, "Home") %>

    <div class="home-content">
        <section class="home-banner">
            <div class="adver">
                <div class="adverBx">
                    <div class="pulse">
                        <span style="--i:1;"></span>
                        <span style="--i:2;"></span>
                        <span style="--i:3;"></span>
                        <span style="--i:4;"></span>
                        <span style="--i:5;"></span>
                    </div>
                    <span id="text">Showroom co cho dau o to va giu xe mien phi</span>
                    <a href="#">Xem them</a>
                </div>
            </div>
            <div class="top-new">
                <div class="home-slide">
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="mySlides fade">
                            <div class="numbertext">1 / 6</div>
                            <img src="https://lapvip.vn/upload/feature/thumb_750x0/km-thang-11-1605951013.jpg"
                                    style="width:100%">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">2 / 6</div>
                            <img src="https://lapvip.vn/upload/feature/thumb_750x0/uy-tin-hang-dau-1605269998.png"
                                    style="width:100%">
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">3 / 6</div>
                            <img src="https://lapvip.vn/upload/feature/thumb_750x0/surface-chinh-hang-1605336695.png"
                                    style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">4 / 6</div>
                            <img src="https://lapvip.vn/upload/feature/thumb_750x0/cac-mau-dell-xps-1605521845.jpg"
                                    style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">5 / 6</div>
                            <img src="https://lapvip.vn/upload/feature/thumb_750x0/phu-kien-cao-cap-giam-20-1587788954.jpg"
                                    style="width:100%">
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">6 / 6</div>
                            <img src="https://lapvip.vn/upload/feature/thumb_750x0/qua-tang-hap-dan-1605178628.png"
                                    style="width:100%">
                        </div>
                    </div>
                        <!-- The dots/circles -->
                    <div style="text-align:center">
                        <div class="dot" onclick="currentSlide(1)">KM Thang<br>11</div>
                        <div class="dot" onclick="currentSlide(2)">Uy tin hang<br>dau</div>
                        <div class="dot" onclick="currentSlide(3)">Surface<br>chinh hang</div>
                        <div class="dot" onclick="currentSlide(4)">Cac mau<br>Dell Xps</div>
                        <div class="dot" onclick="currentSlide(5)">Phu kien<br>cao cap</div>
                        <div class="dot" onclick="currentSlide(6)">Qua tang<br>hot</div>
                    </div>
                </div>
                <div class="hot-new">
                    <div class="adver-new">
                        <img src="https://lapvip.vn/upload/feature/thumb_350x0/home-right-1575015713.png">
                    </div>
                    <div class="adver-new">
                        <img src="https://lapvip.vn/upload/feature/thumb_350x0/banner-phu-1578019653.png">
                    </div>
                    <div class="hot-news">
                        <div class="hot-news-text">
                            <span>TIN CONG NGHE NOI BAT</span>
                            <a href="#">Xem tat ca -></a>
                        </div>
                        <div class="hot-news-content">
                            <%= link_to do %>
                                <div class="hot-newsBx">
                                    <img src="https://lapvip.vn/upload/news/thumb_80x0/cach-tang-toc-do-mang-khi-su-dung-wi-fi-tren-laptop-1607596805.jpg">
                                    <p>Cách tăng tốc độ mạng khi sử dụng Wi-Fi trên laptop</p>
                                </div>
                            <% end %>
                            <%= link_to do %>
                                <div class="hot-newsBx">
                                    <img src="https://lapvip.vn/upload/news/thumb_80x0/top-3-dia-chi-nao-ban-laptop-uy-tin-nhat-hien-nay-1607513719.jpg">
                                    <p>Top 3 địa chỉ nào bán laptop uy tín nhất hiện nay</p>
                                </div>     
                            <% end %>                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="lazy">
                <img src="https://lapvip.vn/upload/feature/thumb_750x0/banner-bottom-1604725174.png">
            </div>
        </section>
        <section class="content products good-price">
            <h2>SAN PHAM APPLE GIA TOT</h2>
            <div class="lap-content">
                <%= render @products.filter_by_macbook.limit(6) %>
            </div>
        </section>
        <section class="content products hightlight">
            <h2>MICROSOFT SURFACE NOI BAT</h2>
            <div class="lap-content">
                <%= render @products.filter_by_dell.limit(6) %>
            </div>
        </section>
        <section class="content products hot">
            <h2>LAPTOP BAN CHAY</h2>
            <div class="lap-content">
                
            </div>
        </section>
        <section class="content accessories">
            <h2>PHU KIEN HOT - GIA TOT</h2>
            <div class="lap-content">
                
            </div>
        </section>
    
    </div>

    <script type="text/javascript">
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

    <script type="text/javascript">
        var text = document.querySelector('#text');
        let i = 1;
        function changeColor() {
            if (i == 1) {
                text.style.color = "red";
                i = 2;
                return i;
            }
            else if (i == 2) {
                text.style.color = "green";
                i = 3;
                return i;
            }
            else if (i = 3) {
                text.style.color = "yellow";
                i = 4;
                return i;
            }
            else if (i = 4) {
                text.style.color = "violet";
                i = 5;
                return i;
            }
            else {
                text.style.color = "blue";
                i = 1;
                return i;
            };
        }
        window.setInterval(changeColor(), 500);
    </script>
