.wrapper-form-login{
  z-index: 2;
  width: 20%;
  position: fixed;
  z-index: 3;
  right: 8%;
  top: 92px;
  background:rgb(235, 240, 234);
  padding: 5px;
  padding-bottom: 10px;
}
.wrapper-form-login p{
  font-size: 18px;
  padding-top: 10px;
}
.wrapper-form-login .social-buttons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.wrapper-form-login .social-buttons .facebook {
  width: 49%;
  border: solid 1px;
  border-radius: 5px;
  padding: 8px 5px;
  font-size: 18px;
  background-color: #395697;
  text-align: center;
}
.wrapper-form-login .social-buttons .facebook-content {
    color: #fff;
    font-size: 18px;
    padding: 6px 10px;
    text-decoration: none
}
.wrapper-form-login .social-buttons .google{
  width: 49%;
  padding: 8px 5px;
  font-size: 18px;
  background-color:#fff;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
}
.wrapper-form-login .social-buttons .google-content{
  font-size: 18px;
  padding: 6px 10px;
  text-decoration: none
}
.login-box{
  background-color:rgb(233, 233, 233);
  border: solid 1px;
  width: 450px;
  margin: 20px 700px 80px;
  text-align: center;
  padding-bottom: 40px;
  font-size: 14px;

}
.login-box h1{
  text-align: center;
  font-size: 40px;
  border-bottom: 4px;
  margin-bottom: 30px;
  padding: 13px 0;
}
.field{

  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  font-size: 14px;
}
.field .field-form{
  width: 220px;
  height: 30px;
  background-color:#fff;
  padding-left: 10px;
  text-align: center;

}
.actions{
  padding: 8px;
  .submit{
    padding: 6px 20px;
    background-color: #167bff;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
  }
}
