.login-box{
    width: 500px;
    margin: 200px 700px 150px; 
    text-align: center;   
}
.login-box h1{
    font-size: 40px;
    border-bottom: 4px;
    margin-bottom: 30px;
    padding: 13px 0;
}
.field{
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    padding: 8px 0;
}
.field #login{
    width: 500px;
}