<div class="lap-contentBx">
	<%= link_to(product_path(product)) do %>
		<div class="lap-contentBx-in">
		    <h3><%= product.title %></h3>
		    <p>24.500.00d</p>
		    <div class="lap-img">
		        <img src="https://lapvip.vn/upload/products/thumb_350x0/macbook-air-13-inch-2020-core-i3-8gb-256gb-newseal-home-1600857062.jpg">
		    </div>
		</div>
	<% end %>
</div>