<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<hr>
<hr>
<hr>

<hr><hr>
<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><br><br><br><br><br><br><br><br><br><br><br>
<form method="get" action="/reviews">
	<input type="text" name="title">
	<input type="submit" value="Search">
</form>
<%= render @reviews %>