<div class="footer">
    <ul class="footer-container">
        <li>
            <ul class="footer-content">
                <li><a href="#">Gioi thieu ve cong ty</a></li>
                <li><a href="#">Cau hoi thuong gap mua hang</a></li>
                <li><a href="#">Chinh sach bao mat</a></li>
                <li><a href="#">Quy che hoat dong</a></li>
                <li><a href="#">Tra cuu thong tin bao hanh</a></li>
            </ul>
        </li>
        <li>
            <ul class="footer-content">
                <li><a href="#">Tin tuyen dung</a></li>
                <li><a href="#">Chinh sach thanh toan</a></li>
                <li><a href="#">Huong dan mua online</a></li>
                <li><a href="#">Chinh sach tra gop</a></li>
                <li><a href="#">Huong dan mua hang</a></li>
                <li><a href="#">Huong dan mua tra gop</a></li>
            </ul>
        </li>
        <li>
            <ul class="footer-content">
                <li><a href="#">He thong cua hang</a></li>
                <li><a href="#">He thong bao hanh</a></li>
                <li><a href="#">Kiem tra hang Apple chinh hang</a></li>
                <li><a href="#">Gioi thieu may doi tra</a></li>
                <li><a href="#">Chinh sach doi tra</a></li>
            </ul>
        </li>
        <li>
            <div class="footer-contact">
                <ul class="phone-contact">
                    <li>Tu van mua hang (Mien phi)<br><span>0344.020.418</span></li>
                    <li>Gop y, khieu nai dich vu (8:00 - 22:30)<br><span>0912.974.822</span></li>
                </ul>
                <ul class="footer-payment">
                    <li>Ho tro thanh toan:
                        <ul class="footer-paymentBx">
                            <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Former_Visa_%28company%29_logo.svg/1280px-Former_Visa_%28company%29_logo.svg.png"></li>
                            <li><img src="https://cdn1.vectorstock.com/i/1000x1000/29/85/monogram-letters-initial-logo-design-atm-vector-28312985.jpg"></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>Chung nhan:
                        <a href="http://online.gov.vn/Home/WebDetails/61223"></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="footer-end">
    <p>© 2011 - 2019 Công Ty TNHH LPL Việt Nam / Địa chỉ: 294 Thái Hà, Láng Hạ, Đống Đa, Hà Nội, Việt Nam / GPĐKKD số 0105688520 do Sở KHĐT TP.HN cấp ngày 5/12/2011 Điện thoại: 0911515888.</p>
    <p>Email:cskh@lapvip.vn. Chịu trách nhiệm nội dung: Kiều Quang Long.</p>
</div>