<div class="header-top">
    <div class="logo">
        <%= link_to(root_url) do %>
            <img src="https://lapvip.vn/html-viettech/images/logo.png">
        <% end %>
    </div>
    <div class="header-search-field">
        <form>
            <input type="text" id="text-field" placeholder="Ban muon mua gi?">
            <input type="submit" id="search-button" value="Search">
        </form>
    </div>
    <div class="header-top-link">
        <ul>
            <li><a href="#"><i class="fas fa-file-alt"></i><br><span>Tin tuc</span></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i><br><span>Gio hang</span></a></li>
        </ul>
    </div>
</div>