<div class="header-bg"></div>
<div class="header">
    <ul class="menu">
        <li><a href="#"><i class="fab fa-apple"></i>&nbsp;&nbsp;<span>MACBOOK</span></a></li>
        <li><a href="#"><i class="fab fa-windows"></i>&nbsp;&nbsp;<span>SURFACE</span></a></li>
        <li><a href="#"><i class="fas fa-laptop"></i>&nbsp;&nbsp;<span>LAPTOP MOI</span></a></li>
        <li><a href="#"><i class="fas fa-laptop"></i>&nbsp;&nbsp;<span>LAPTOP CU</span></a></li>
        <li><a href="#"><i class="fas fa-headphones"></i>&nbsp;&nbsp;<span>PHU KIEN</span></a></li>
        <li><a href="#"><i class="fas fa-donate"></i>&nbsp;&nbsp;<span>TRA GOP</span></a></li>
        <li><a href="#"><i class="fas fa-piggy-bank"></i>&nbsp;&nbsp;<span>KHUYEN MAI</span></a></li>
    </ul>
</div>
